@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the web</h1>
    <p>Learn about <a href="https://developers.google.com/web">web</a>.</p>
</div>
